	<td colspan="2"><%= text_field :receive, :supplier, :size => 20 %></td>
	<td><%= text_field :receive, :goods_code, :size => 20 %><br/>
	<%= text_field :receive, :goods_name, :size => 20 %></td>
	<td><%= text_field :receive, :location, :size => 10 %></td>
	<td colspan="2" class="num"><%= text_field :receive, :result_qty, :size => 5 %></td>
	<td><%= link_to_remote '新規', :url => {:action => 'create'}, 
						:with => "Form.serialize('new_receive')" %></td>
	<td>&nbsp;</td>
