<h1>New shipping_address</h1>

<% form_for(@shipping_address) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :customer_code %><br />
    <%= f.text_field :customer_code %>
  </p>
  <p>
    <%= f.label :zip_code %><br />
    <%= f.text_field :zip_code %>
  </p>
  <p>
    <%= f.label :address %><br />
    <%= f.text_field :address %>
  </p>
  <p>
    <%= f.label :tel %><br />
    <%= f.text_field :tel %>
  </p>
  <p>
    <%= f.label :fax %><br />
    <%= f.text_field :fax %>
  </p>
  <p>
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.label :is_fixed %><br />
    <%= f.check_box :is_fixed %>
  </p>
  <p>
    <%= f.label :picking_style %><br />
    <%= f.text_field :picking_style %>
  </p>
  <p>
    <%= f.label :ware_house_id %><br />
    <%= f.text_field :ware_house_id %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', shipping_addresses_path %>