<!DOCTYPE html>
<head>
	<meta harset=utf-8" />
	<title>WAACS-CAMP</title>
	<%= javascript_include_tag "/jqtouch/jqtouch/jquery-1.4.2.js" %>
	<%= javascript_include_tag "/jqtouch/jqtouch/jqtouch.js" %>
	<%= stylesheet_link_tag "/jqtouch/jqtouch/jqtouch.css" %>
	<%= stylesheet_link_tag "/jqtouch/themes/jqt/theme.css" %>
	<%= stylesheet_link_tag "is.css" %>
	<script type="text/javascript" charset="utf-8">
		$.JQTouch();
	</script>
</head>
<body>
	<%= yield %>
</body>
</html>
