<div class="list">
<table width="100%">
	<thead>
		<tr>
			<th><%= t('label.edi_file.ware_house') %></th>
			<th><%= t('label.edi_file.class_name') %></th>
			<th><%= t('label.edi_file.edi_code') %></th>
			<th><%= t('label.edi_file.edi_at') %></th>
			<th><%= t('label.edi_file.device') %></th>
			<th><%= t('label.edi_file.show_status') %></th>
			<th>&nbsp;</th>
		</tr>
	</thead>
	<tbody>
		<% for edi_file in @edi_files %>
			<tr>
				<td><%= edi_file.show_ware_house_name %></td>
				<td><%= edi_file.show_class_name %></td>
				<td>
					<% if File.exist?(edi_file.file_path) %>
						<%= link_to edi_file.edi_code, {:action => 'download', :file => edi_file.file_path} %>
					<% else %>
						<%= edi_file.edi_code %>
					<% end %>
				</td>
				<td><%= show_time edi_file.edi_at %></td>
				<td><%= edi_file.device_name %></td>
				<td><%= edi_file.status %></td>
				<td>&nbsp;</td>
			</tr>
		<% end %>
	</tbody>
</table>
</div>
