<!DOCTYPE html>
<html>
<head>
	<title>WAACS-CAMP</title>
	<%= javascript_include_tag "/jqtouch/jqtouch/jquery-1.4.2.js" %>
	<%= javascript_include_tag "/jqtouch/jqtouch/jqtouch.js" %>
	<%= stylesheet_link_tag "/jqtouch/jqtouch/jqtouch.css" %>
	<%= stylesheet_link_tag "/jqtouch/themes/jqt/theme.css" %>
	<script type="text/javascript" charset="utf-8">
		$.jQTouch();
	</script>
	<%= stylesheet_link_tag "is.css", :media => "screen" %>
</head>
<body>
	<div id="jqt">
		<div id="home">
			<ul class="individual">
				<li><a>本日分</a></li>
				<li><a>出荷残</a></li>
			</ul>
			<div id="work">
			</div>
			<ul>
				<% for order in @work_orders %>
				<li class="arrow">
					<%= link_to_remote order.work_no, :url => {:action => 'picking', :id => order.id} %>
					<%= order.status %>
					<small class="counter"><%= order.order_lines %></small>
				</li>
				<% end %>
			</ul>
		</div>
	</div>
</body>
</html>
