<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
		<title>Welcome to <%= casein_config_website_name %></title>
		<%= stylesheet_link_tag "/casein/stylesheets/login.css" %>
		<%= javascript_include_tag :defaults, "/casein/javascripts/login.js", :cache => "casein_auth_javascripts" %>
		<%= stylesheet_link_tag "bf" %>
	</head>
	<body>
		<div id="header">
			<%= image_tag(casein_config_logo, :alt => casein_config_website_name) %><br/>
			<font class="big">クラウド指向WMS WAACS/BIRDFARM</font>
		</div>
		<div id="content">
			<%= yield %>
		</div>
		<div id="footer">
			<p>Powered by PSS Inc., and PSS123waacs Engineering Team.<br/><%= link_to "PSS123 Developer's Site", "http://pss.jpn.org/site/" %></p>
		</div>
	</body>
</html>
