<h1>ピッキング指示(手動操作)</h1>
<div class="list">
	<table width="80%">
		<thead>
			<td></td>
			<td></td>
		</thead>
		<tbody>
			<tr>
				<td>引当リセット(全倉庫)</td>
				<td class="num">
					<%= button_to_remote '実行', :url => {:action => 'reset_allocate'} %>
				</td>
			</tr>

			<tr>
				<td>シングルオーダピッキングのみ出荷指示作成(全在庫)</td>
				<td class="num">
					<%= button_to_remote '実行', :url => {:action => 'allocate_single'} %>
				</td>
			</tr>

			<tr>
				<td>トータルオーダピッキングのみ出荷指示作成(全在庫)</td>
				<td class="num">
					<%= button_to_remote '実行', :url => {:action => 'allocate_total'} %>
				</td>
			</tr>
		</tbody>
	</table>
</div>
<br/>
<h1>ピッキング方式変更</h1>
<div class="panel">
<% form_remote_tag :url => {:action => :change_picking_style} do %>
	顧客単位ピッキング方式変更
	<%= select_tag :customer_code ,options_for_select(customer_list + [''], @customer_code) %>
	<%= select_tag :picking_style ,options_for_select(Inventory::PICKING_STYLE + [''], @picking_style)  %>
	<%= submit_tag "変更" %>
<% end %>
</div>
