<!DOCTYPE html>
<html>
<head>
	<title>WAACS-CAMP</title>
	<%= javascript_include_tag "/jqtouch/jqtouch/jquery-1.4.2.js" %>
	<%= javascript_include_tag "/jqtouch/jqtouch/jqtouch.js" %>
	<%= stylesheet_link_tag "/jqtouch/jqtouch/jqtouch.css" %>
	<%= stylesheet_link_tag "/jqtouch/themes/jqt/theme.css" %>
	<script type="text/javascript" charset="utf-8">
		$.jQTouch();
	</script>
	<%= stylesheet_link_tag "is.css", :media => "screen" %>
</head>
<body>
	<div id="jqt">
		<div id="home">
			<ul class="individual">
				<li><%= link_to_remote "本日分", :url => {:action => 'show_today'} %></a></li>
				<li><a>出荷残</a></li>
			</ul>
			<div id="work">
			</div>
			<ul id="work_order_list">
				<%= render :partial => 'work_order_list' %>
			</ul>
		</div>
	</div>
</body>
</html>
