<!-- NOTE: script/generate casein_scaffold automatically appends new controllers to this file. The SCAFFOLD_INSERT line must NOT be removed -->
<!-- SCAFFOLD_INSERT -->
<li id="visitSite"><%= link_to t('activerecord.models.order'), :controller => :casein_orders %></li>
<% if @session_user.is_admin? %>
<li id="visitSite"><%= link_to t('activerecord.models.inventory'), :controller => :casein_inventories %></li>
<li id="visitSite"><%= link_to t('activerecord.models.shipping_address'), :controller => :casein_shipping_addresses %></li>
<li id="visitSite"><%= link_to t('activerecord.models.ware_house'), :controller => :casein_ware_houses %></li>
<li id="visitSite"><%= link_to t('activerecord.models.region'), :controller => :casein_regions %></li>
<li id="visitSite"><%= link_to t('activerecord.models.number_master'), :controller => :casein_number_masters %></li>
<% end %>
