<div class="box">
</div>
<% form_remote_tag :url => {:action => 'confirm'} do %> 
<h3>
<%= submit_tag t('label.form.confirm') %>
&nbsp;&nbsp;
&nbsp;|&nbsp;
<%= link_to_function t('label.form.check_all'),"$$('div#receive_list input[type=checkbox]').each(function(e){e.checked = true});"  -%>
&nbsp;|&nbsp;
<%= link_to_function t('label.form.uncheck_all'),"$$('div#receive_list input[type=checkbox]').each(function(e){e.checked = false});" -%>
&nbsp;|&nbsp;
<%= link_to_remote t('label.form.set_all'),:url => {:action => 'set_all_qty'} -%>
&nbsp;|&nbsp;
<%= link_to_remote t('label.form.new_line'),:url => {:action => 'new'} -%>
&nbsp;|&nbsp;
<div style="float:right;height:30px;">
<%= will_paginate @receives, 
	:prev_label => '<<前', :next_label => '次>>',
 	:renderer => 'RemoteLinkRenderer', :params => {:action => 'search'} %>
</div>
</h3>
<div class="list">
<table width="100%">
	<thead>
		<%= render :partial => "receive_head" %>	
	</thead>
	<tbody>
	<tr id="new_receive"></tr>
	<% for receive in @receives %>
		<%= render :partial => "receive_item", :locals => {:receive => receive} %>	
	<% end %>
	</tbody>
</table>
</div>
<% end %>
