<tr>
	<td><%= link_to_remote work_order.work_no, :url => {:action => 'show', :id => work_order.id} %></td>
	<td><%= work_order.delivery_name %></td>
	<td class="num"><%= work_order.order_lines %></td>
	<td><%= work_order.status %></td>
	<td><%= show_datetime work_order.start_at %></td>
	<td><%= show_datetime work_order.end_at %></td>
	<td><%= work_order.device %></td>
	<td>&nbsp;</td>
</tr>
<tr id="<%= 'work_order_' + work_order.id.to_s %>">
	<td colspan="8" style="padding:0px;margin:0px;border:0px;"></td>
</tr>
